*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: large;
}
.section{
    /* opacity: 0; 
    transition: opacity 1.4s;    */
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /* 
    font-family: sans-serif; */
    scroll-snap-type: y mandatory;
}
h1,p{
    margin: .5rem 0;
}
img{
    width: 45%;
    aspect-ratio: 1/1;
}
.fade{
    opacity: 0; 
    transition: opacity 1.7s;  
    /* color: white;  */
}
.visible{
    opacity: 1;
}
.sec-1,.sec-3{
    background: #1b1b1b;
    color: white;
    justify-content: space-evenly;
}
.sec-2,.sec-4{
    justify-content: space-evenly;
}
.sec-4{
    justify-content: space-evenly;
    flex-direction: column;
}
.intro-txt{
    display: flex;
    flex-direction: column;
    width: 40%;
}
@media (max-width:500px) {
    .section{
        display:grid;
        justify-items: center;
        align-content: center;
        gap: 7rem;
    }
    .intro-txt{
        width: 80vw;
    }
    img{
        width: 80%;
    }
}
.none{
    display: none;
}
.s-link{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}
// meow anzi